@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-container{
    width: 452px;
}

.header{
    width: 100%;
}

.title{
    font-size: 32px;
    font-weight: 100;
}

.tasks-form{
    display: flex;
    justify-content: space-between;
}

.task-input{
    flex: 1;
    outline: none;
    height: 35px;
    padding: 0 15px;
    font-size: 18px;
}


.task-add__button {
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 6px;
    background: transparent;
    transition: .2s;
    background-color: rgb(225 240 11);
    color: #494949;
    padding: 8px 12px;
    border-radius: 10px;
}

.task-add__button:hover{
    color: rgb(177, 177, 20)green
}

.info__section{
    margin-top: 14px;
}

.tasks__info{
    display: flex;
    gap: 18px;
}

.tasks__info-button{
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: transparent;
    transition: .2s;
}

.tasks__delete-all{
    display: flex;
    flex: auto;
    justify-content: flex-end;
}

.active{
    background-color: rgb(225 240 11);
    color: #494949;
}

.main__section{
    margin-top: 38px;
}

.tasks-container{
    display: flex;
    flex-direction: column;
    margin: 0px 6px;
}

.task-container{
    display: flex;
    align-items: center;
    gap: 16px;
    border: 1px solid black;
    padding: 5px 10px;
}

.task-span{
    flex: 1;
}

.task-buttons{
    display: flex;
    gap: 16px;
}

.task-button{
    display: flex;
    border: 0;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
}